body {
  font-family: "Arimo", serif;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
}

nav{
  width: 100%;
  padding: 24px 0px;
  border-bottom: 1px black solid;
}

h1, h2, h3{
  margin-top: 0px;
  margin-bottom: 16px;
}

p{
  margin: 0px;
}

/* Title & description */
.title-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: baseline;
  gap: 8px;
}

.title-wrapper > *{
  margin : 0
}

h1{
  letter-spacing: 0.2em;
}

.title_description{
  font-weight: 400;
  color: #697586;
  letter-spacing: -0.04em;
}

.title-wrapper{
  padding: 0px 24px;
}

.container, .title-wrapper {
  background-color: #fff;
  width: 100%;
  text-align: center;
  margin: auto;
}

.title-wrapper{
  max-width: 1440px;
}

/* END - Title & description */

.container-border{
  border-bottom: black 1px solid;
  display: flex;
  justify-content: center;
  margin-bottom :48px;
}

.section{
  max-width: 1140px;
  margin: auto;
}

.form-and-preview_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  padding: 0px 24px;
}

.form_wrapper{
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 60%;
  border-right: 1px solid black;
}

.form_wrapper, .preview{
  padding: 48px 0px;
}

.input-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 56px;
  text-align: left;
}

label {
  font-family: "Antonio", serif;
  font-size: 32px;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 8px;
}

.label-description{
  color: #697586;
  font-size: 16px;
  margin-bottom: 24px;
}

.input_wrapper{
  display: flex;
  align-items: center;
  white-space: nowrap;
  gap: 12px;
}

.input_wrapper > p {
  font-weight: 600;
}

input[type="file"],
input[type="text"] {
  font-family: "Arimo", serif;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#logoUpload{
  display: none;
}

.image-input-container{
  display: flex;
  align-items: center;
}

.image-input-container > label{
  margin: 0px;
  padding: 16px;
  font-family: "Arimo", serif;
  text-transform: initial;
  font-weight: 400;
  line-height: 16px;
  background: #222;
  color: white;
  border-radius: 100%;
  border: solid 1px #222;
  transition: background 0.3s ease;
  cursor: pointer;
}

.image-input-container > label:hover{
  background: black;
}

.file-name{
  margin-left: 16px;
  font-size: 14px;
  color : #697586;
}

button, .download-button-small, .download-button {
  background-color: #222;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  line-height: 17px;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: background 0.3s ease;
}

button:hover, .download-button-small:hover, .download-button:hover {
  background-color: black;
}

.preview{
  display:flex;
  flex-direction: column;
  max-width: 35%;
}

.preview > h2{
  font-size: 18px;
  text-align: left;
  font-weight: 600;
}

.preview-picture{
  width: 100%;
  border-radius: 24px;
}

.generated-images {
  text-align: left;
  padding: 0px 24px;
}

.generated-images > h2 {
  font-family: "Antonio", serif;
  text-transform: uppercase;
  font-size: 40px;
  margin-bottom: 40px;
}

.images-container {
  columns: 2; 
  list-style: none;
  padding: 0;
  margin: 0;
  column-gap: 16px;
}

.images-container img {
  max-width: 100%;
  border: 1px solid #ccc;
  margin-bottom: 24px;
  border-radius: 16px;
}

.image-container {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid black;
  padding: 40px;
  margin-bottom: 16px;
}

.image-container h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.image-title-container{
  display: flex;
  align-items: baseline;
  gap: 4px;
}

.image-title-container > p {
  color: #697586; 
  font-size: 14px;
}

.loading-spinner {
  margin: 20px auto;
  border: 6px solid #ccc;
  border-top: 6px solid #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.download-button{
  display: none;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 24Px;
  transform: scale(1.25);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
